// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment_body{
  border: 1px solid #a9dba9;
  border-radius: 8px;
  background-color: #fff;
  width: 655px;
  margin: auto;
}